<mat-toolbar color="primary" class="navbar">
  <div class="navbar-brand">
    <mat-icon>medical_services</mat-icon>
    <span>Citas Médicas Express</span>
  </div>
  
  <span class="spacer"></span>
  
  <div class="user-info" *ngIf="authService.currentUserValue">
    <span class="user-name">{{ authService.currentUserValue.nombres }} {{ authService.currentUserValue.apellidos }}</span>
    <mat-chip-listbox>
              <mat-chip-option color="accent" selected>{{ authService.currentUserValue.roles | titlecase }}</mat-chip-option>
    </mat-chip-listbox>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar> 